body {
  background-color: #111;
  font-family: "M PLUS 2", sans-serif;
  color: #eee;
}

a {
  color: #eee;
}

nav {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.container {
  margin-left: 16px;
  margin-right: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(320px, 900px);
  text-align: center;
}

.container img, iframe {
  width: 85%;
  max-width: 550px;
}

.section {
  margin-top: 8px;
  margin-bottom: 8px;
}

#members .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 284px));
  grid-gap: 16px 16px;
}

.card {
  box-shadow: 0 0.5em 2em -0.125em rgba(150, 150, 150, 0.05), 0 0 0 1px rgba(245, 245, 245, 0.01);
}

.card-header {
  text-align: center;
  margin-bottom: 4px;
}

.card-header img {
  border-radius: 50%;
  max-width: 75%;
}

.card-header h4,
.card-header h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-body {
  text-align: left;
}

#media iframe, img {
  margin-bottom: 8px;
}
